* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #ffff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(Assets/background.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--Red, #F44);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-button {
    display: inline-flex;
    height: 48px;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 33px;
    background: var(--Red, #F44);
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: background 0.8s, color 0.8s, border-color 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.primary-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white, white);
    transition: transform 0.8s ease-in-out;
    transform: translateX(-100%);
    z-index: -1;
    color: #000000;
}

.primary-button:hover:after {
    transform: translateX(0);
}

.primary-button:hover {
        background: var(--Red, #F44);
    color: var(--Red, #F44);
    border: 2px solid var(--Red, #F44);
}

/* Optional: Add a smooth transition to the box shadow property for a subtle effect */
.primary-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
    font-family: 'Sora', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.4px;
    background: var(--Gradient, linear-gradient(90deg, #4B2828 0.06%, #E0696C 99.87%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.header-text p {
    color: #865252;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.54px;
    margin-bottom: 30px;
}

#arrow-container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: bounce 2s infinite alternate;
}

#arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #F44; /* Arrow color */
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0) translateY(0);
    }
    100% {
        transform: translate(-50%, 0) translateY(-20px);
    }
}

/* -- -- -- -- -- -- -- -- About -- -- -- -- -- -- -- -- */

#about {
    padding: 80px 0;
    color: #000000;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
}

.title {
    text-align: center;
}

.title h1 {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.4px;
    margin-bottom: 25px;
}

.title p {
    color: #6F6F6F;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: -0.54px;
    margin-bottom: 72px;
}

.about-list {
    display: inline-flex;
    align-items: flex-start;
    gap: 80px;
    margin-bottom: 80px;
}

.about-list .about {
    padding: 20px;
    display: flex;
    width: 332px;
    height: 350px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #FFF;
    transition: 0.5s ease;
    /* Adds a smooth transition effect */
}

.about-list .about:hover{
    box-shadow: 0 4px 8px 0 #00000008, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-10px);
}

.about-list .about img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 25px;
}

.about-list .about h2 {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}

.about-list .about p {
    color: #6F6F6F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    text-align: left;
}

.about-list .about .pre-title {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.under-about {
    color: #6F6F6F;

    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: -0.42px;
    margin-bottom: 125px;
}

.under-about span {
    color: var(--Black, #050401);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.42px;
    text-decoration-line: underline;

}

.difference {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#about .row {
    display: inline;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 48px;
    background: var(--Light-Pink, #FFF7F7);
    width: 1110px;
    height: 450px;
    margin: auto;
}

.about-col-1 {
    flex-basis: 50%;
    margin-left: 95px;
    text-align: left;
}

.about-col-1 h1 {
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    background: linear-gradient(90deg, #4B2828 0.06%, #E0696C 99.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

.about-col-1 p {
    color: #865252;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
}

@keyframes bounceB {
    0% {
        transform: translate(0) ;
        transform: translate(-50%) translateY(0) translateX(150px);
    }
    100% {
        transform: translate(-50%) translateY(-20px) translateX(150px);;
    }
}

.about-col-2 img {
    width: 292px;
    border-radius: 15px;
    height: 478.358px;
    animation: bounceB 2s infinite alternate;
    transform: translateY(-65px);
}

.about-col-2 {
    flex-basis: 25%;
    margin-right: 77px;
}

/* -- -- -- -- -- -- -- -- Values -- -- -- -- -- -- -- -- */

#values {
    padding: 0;
    padding-bottom: 80px;
    color: #000000;
    justify-content: center;
    align-items: center;
}

#values .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
}

.values-col-1 {
    flex-basis: 45%;
}

.values-col-1 h1 {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 25px;
}

.values-col-1 h1 span {
    color: var(--Red, #F44);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}

.values-col-1 p {
    color: #6F6F6F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    width: 524px;
}

.values-col-2 {
    flex-basis: 50%;
}

.value {
    display: flex;
    padding: 15px;
    margin: 15px;
    transition: 0.5s ease-in-out;
}

.value:hover {
    box-shadow: 0 4px 8px 0 #00000008, 0 3px 15px 0 rgba(0, 0, 0, 0.15);
    transform: translateX(-10px);
}

.value img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 30px;
}

.value .details h3 {
    margin-bottom: 15px;
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.value .details p {
    color: #6F6F6F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    width: 350px;
}

/* -- -- -- -- -- -- -- -- Infos -- -- -- -- -- -- -- -- */

#infos {
    padding: 80px 0;
    color: #000000;
    height: 570px;
    background-image: url(Assets/infos-background.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    text-align: center;
}

#infos .title {
    text-align: center;
}

#infos .title h1 {
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    background: var(--Gradient, linear-gradient(90deg, #4B2828 0.06%, #E0696C 99.87%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#infos .title p {
    color: #865252;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 75px;
}

.infos-list {
    text-align: center;
    gap: 50px;
}

.infos-list>div {
    display: inline-block;
    margin: 0 30px;
    /* Adjust margin as needed for spacing between info blocks */
}

.info {
    padding: 10px;
    text-align: left;
    /* Align text within info blocks to the left */
}

.info p {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.info h3 {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
}

/* -- -- -- -- -- -- -- -- Limited -- -- -- -- -- -- -- -- */

#limited {
    padding: 100px 0;
    color: #000000;
    justify-content: center;
    align-items: center;
}

#limited .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.limited-col-1 {
    flex-basis: 40%;
}

.limited-col-1 img {
    width: 337.469px;
    height: 394.007px;
    flex-shrink: 0;
}

.limited-col-2 {
    flex-basis: 50%;
}

.limited-col-2 h1 {
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 25px;
}

.limited-col-2 h1 span {
    color: var(--Red, #F44);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}

.limited-col-2 p {
    color: #6F6F6F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
}

/* -- -- -- -- -- -- -- -- Limited -- -- -- -- -- -- -- -- */

#transparency {
    padding: 100px 0;
    color: #000000;
    text-align: center;
    width: 1110px;
    /* You may want to adjust this width based on your design */
    height: 433px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 48px;
    background: var(--Light-Pink, #FFF7F7);
    background-image: url(Assets/transpa-background.jpg);
    background-size: cover;
    background-position: center;
}

#transparency h1 {
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    background: linear-gradient(90deg, #4B2828 0.06%, #E0696C 99.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

#transparency .sub-title {
    color: #865252;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    margin-bottom: 60px;
}

.transpa-list {
    text-align: center;
    gap: 50px;
}

.transpa-list>div {
    display: inline-block;
    margin: 0 30px;
    /* Adjust margin as needed for spacing between info blocks */
}

.transpa h3 {
    color: var(--Black, #050401);
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.5px;
}

.transpa p {
    color: #000000;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}



/* -- -- -- -- -- -- -- -- Why -- -- -- -- -- -- -- -- */

#why {
    padding: 100px 0;
    color: #000000;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.why-col-1 {
    flex-basis: 50%;
}

.why-col-2 img {
    width: 280.011px;
    height: 473.165px;
}

.why-col-2 {
    flex-basis: 30%;
}

.why-col-1 h1 {
    margin-bottom: 25px;
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}

.why-col-1 p {
    width: 524px;
    margin-bottom: 25px;
    color: #6F6F6F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
}

/* -- -- -- -- -- -- -- -- Minds -- -- -- -- -- -- -- -- */

#minds {
    padding: 80px 0;
    color: #000000;
    text-align: center;
    width: 100%;
    /* You may want to adjust this width based on your design */
    height: 773px;
    margin-left: auto;
    margin-right: auto;
    background: var(--Light-Pink, #FFF7F7);
    background-image: url(Assets/minds-background.jpg);
    background-size: cover;
    background-position: center;
}


#minds h1 {
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
    background: linear-gradient(90deg, #4B2828 0.06%, #E0696C 99.87%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 25px;
}

#minds .sub-title {
    color: #865252;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    margin-bottom: 60px;
}

.minds-list {
    text-align: center;
    gap: 50px;
}

.minds-list>div {
    display: inline-block;
    margin: 0 30px;
    /* Adjust margin as needed for spacing between info blocks */
}

.mind {
    text-align: left;
}

.mind img {
    width: 255px;
    height: 305px;
    flex-shrink: 0;
}

.mind h3 {
    color: var(--Black, #050401);
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    text-align: left;
    margin-bottom: 5px;
}

.mind p {
    color: #6F6F6F;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
    margin-bottom: 5px;
}

.mind .socials i {
    width: 18.327px;
    height: 17.873px;
    flex-shrink: 0;
    color: #6F6F6F;
}

/* -- -- -- -- -- -- -- -- Magic -- -- -- -- -- -- -- -- */

#magic {
    padding: 80px 0;
    color: #000000;
    text-align: center;
    width: 1110px;
    /* You may want to adjust this width based on your design */
    height: 433px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#magic h1 {
    margin-bottom: 24px;
    color: var(--Black, #050401);
    font-family: 'Sora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.8px;
}

#magic p {
    margin-bottom: 25px;
    color: #6F6F6F;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: -0.42px;
}

/* -- -- -- -- -- -- -- -- Footer -- -- -- -- -- -- -- -- */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
}

.logo {
    width: 140px;
}

footer ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


footer ul li a {
    color: #6F6F6F;
    text-decoration: none;
    font-size: 16px;
    position: relative;
}

footer ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--Red, #F44);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.8s;
}

footer ul li a:hover::after {
    width: 100%;
}

footer .socials {
    display: flex;
    color: #6F6F6F;
}

footer .socials i{
    width: 43.327px;
    height: 17.873px;
    color: #6F6F6F;
}
